/************** Base Styles ************/
body{
	font-family: 'Noto Sans JP', sans-serif;
	max-width: 968px;
	background:url("../img/greek-vase.png") repeat;
	text-align: center;
}
h1{
	margin:0;
	color:#7b7d70;
}

h2{
	font-size:20px;
	color:#4eafb8;
}

p{
	color:#ff8641;
}

.box2{
	padding:0 50px 0 0;
}


/************* header ***********/

header{
	font-variant:small-caps;
	width:100%;
}

section.one{
	font-size:15px;
	text-align:left;
	padding:0 0 0 10px;
}

section.two{
	text-align:left;
	padding:30px 0 0 60px;
}

section.three{
	font-family: 'Dancing Script', cursive;
	font-size:35px;
	color: #0B7189;
	text-align:right;
	padding:30px 60px 0 0;
	margin:0 auto;
	font-weight:lighter;
}

section.four{
	text-align:right;
	padding:10px 25px 0 0;
}

/****************** main *****************/

main{
	margin:50px auto;
}

.entries{
	margin:25px auto;
	border:5px double gold;
	width:75%;
}


/* ----------- Tablets larger than 768px wide ----------- */

@media (min-width: 440px) {
	header{
		width:100%;
		margin:0 auto;
		max-width: 440px;
	}

	.box1{
		float:left;
	}

	.box2{
		float:right;
	}

main{
	clear:both;
}

	h1{
		margin:0;
		color:#02cbd2;
	}

	h2{
		font-size:20px;
		color:#fcc02a;
	}

	p{
		color:#7b8f8e;
  }

}


/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px) {
	body{
		margin:0 auto;
	}
	header{
		width:100%;
		max-width:440px;
		margin:0 auto;
	}

	.box1{
		float:left;
	}

	.box2{
		float:right;
	}

	main{
	clear:both;
	}

	h1{
		margin:0;
		color:#6e4b61;
	}

	h2{
		font-size:20px;
		color:#cabd61;
	}

	p{
		color:#c19e74;
	}
}
