/************** Base Styles ************/
body{
	font-family: 'Noto Sans JP', sans-serif;
	max-width: 968px;
	background: #170A1C;
	color: white;
	text-align: center;
}
h1{
	margin:0 auto;
}


/************* the grid ***********/
body section{
	display:inline-block;
}
section.one{
	float:left;
	clear:left;
	padding:40px 0 0 25px;
}
.box-1{
	padding:0 0;
	margin:0 auto;
}

section.two{
	float:left;
	clear:left;
	padding:40px 0 0 75px;
}
.box-2{
	padding:0;
	margin:0 auto;
}

section.three{
	float:left;
	clear:left;
	padding:40px 0 0 125px;
}
.box-3{
	padding:0 0;
	margin:0 auto;
}

section.four{
	float:left;
	clear:left;
	padding:40px 0 0 50px;
}
.box-4{
	padding:0 0;
	margin:0 auto;
}

section.five{
	float:left;
	clear:left;
	padding:40px 0 0 50px;
}
.box-5{
	padding:0 0;
	margin:0 auto;
}

section.six{
	float:left;
	clear:left;
	padding:40px 0 0 130px;
}
.box-6{
	padding:0 0;
	margin:0 auto;
}

section.seven{
	float:left;
	clear:left;
	padding:40px 0 0 175px;
}
.box-7{
	padding:0 0;
	margin:0 auto;
}

section.eight{
	float:left;
	clear:left;
	padding:40px 0 0 40px;
}
.box-8{
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	color: #0B7189;
	text-align: right;
	padding:0;
	margin:0 auto;
	font-weight:lighter;
}

section.nine{
	float:left;
	clear:left;
	padding:40px 0 0 200px;
}
.box-9{
	padding:0 0;
	margin:0 auto;
}

/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) {
	body {
    background: gold;
  }
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px) {

}
